# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [35]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [36]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [38]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [39]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [40]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [41]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [42]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [43]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [44]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [45]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [46]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [47]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [48]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [49]:
data.duplicated().sum()

71

In [50]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [51]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [52]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [53]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [54]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [55]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [57]:
#создадим сводную таблицу с общим количеством заемщиков, количеством должников и их долей, в зависимости от количества детей
res=pd.pivot_table(data,index=['children'], values=['debt'], aggfunc=['count', 'sum', 'mean'])
res.columns=['Количество заемщиков, всего', 'Количество должников', 'Доля должников'] # для удобства чтения кода, переименуем столбцы
res['Доля должников']=res['Доля должников']*100 # умножим весь столбец на 100, что бы получить проценты
display(res)

          Количество заемщиков, всего  Количество должников  Доля должников
children
0                               14091                  1063        7.543822
1                                4808                   444        9.234609
2                                2052                   194        9.454191
3                                 330                    27        8.181818
4                                  41                     4        9.756098
5                                   9                     0        0.000000

Вывод

    -Доля должников не имеющих детей составляет 7,5%; 
    -Доля должников с одним ребенком составляет 9,2%;
    -Доля должников с двумя детьми составляет 9,4%; 
    -Доля должников с треми детьми составляет 8,2%; 
    -Доля должников с четырьмя детьми составляет 9,7%; 
    -Доля должников с пятью детьми составляет 0%;
    
В данном случае, доля должников колеблется между 7,5% и 9,7%, за исключением лиц с пятью детьми, где должников нет. Для более широкого анализа составим сводную таблицу по заемщикам с пятью детьми, целям кредитования и уровнем дохода.

In [58]:
#конкретизируем предыдущую сводную таблицу: выделим заемщиков с 5 детьми, разбив уровень их дохода по целям
res=pd.pivot_table(data,index=['children', 'purpose_category','total_income_category','total_income'], values=['debt'], aggfunc=['count', 'sum', 'mean'])
res.columns=['Количество заемщиков, всего', 'Количество должников', 'Доля должников'] # для удобства чтения кода, переименуем столбцы
res['Доля должников']=res['Доля должников']*100 # умножим весь столбец на 100, что бы получить проценты
res.query('children==[5]')

                                                                      Количество заемщиков, всего  \
children purpose_category         total_income_category total_income
5        операции с автомобилем   C                     77552                                   1
                                                        142594                                  1
         операции с недвижимостью B                     204241                                  1
                                                        256698                                  1
                                                        269068                                  1
                                  C                     168460                                  1
                                  D                     48772                                   1
         получение образования    B                     212545                                  1
         проведение свадьбы       C                     126102                                  1

                                                                      Количество должников  \
children purpose_category         total_income_category total_income
5        операции с автомобилем   C                     77552                            0
                                                        142594                           0
         операции с недвижимостью B                     204241                           0
                                                        256698                           0
                                                        269068                           0
                                  C                     168460                           0
                                  D                     48772                            0
         получение образования    B                     212545                           0
         проведение свадьбы       C                     126102                           0

                                                                      Доля должников
children purpose_category         total_income_category total_income
5        операции с автомобилем   C                     77552                    0.0
                                                        142594                   0.0
         операции с недвижимостью B                     204241                   0.0
                                                        256698                   0.0
                                                        269068                   0.0
                                  C                     168460                   0.0
                                  D                     48772                    0.0
         получение образования    B                     212545                   0.0
         проведение свадьбы       C                     126102                   0.0

Вывод

В представленной таблице видно, что заемщики с 5 детьми, чаще берут кредит на операции с недвижимостью. Так же, в основном, они имеют высокий уровень дохода. Реже кредит берут на операции с автомобилем и имеют средний уровень дохода. Заемщиков низким уровнем дохода не обнаружено. 
Для более полного анализа причины отсутствия должников с пятью детьми, не хватает суммы заёмных средств, а так же суммы ежемесячго платежа.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [60]:
#Создадим таблицу с информацией об общем количестве заемщиков, должников среди них и их долю, в зависимости от семейного положения
res=pd.pivot_table(data,index=['family_status'], values=['debt'], aggfunc=['count', 'sum', 'mean'])
res.columns=['Количество заемщиков, всего', 'Количество должников', 'Доля должников'] # для удобства чтения кода, переименуем столбцы
res['Доля должников']=res['Доля должников']*100 # умножим столбец на 100, что бы получить проценты
display(res)

,"Количество заемщиков, всего",Количество должников,Доля должников
family_status,,,
Не женат / не замужем,2796,273,9.763948
в разводе,1189,84,7.064760
вдовец / вдова,951,63,6.624606
гражданский брак,4134,385,9.313014
женат / замужем,12261,927,7.560558

 
Вывод

    -Доля должников по кредитам среди лиц не состаящих в браке, составляет 9,7%;
    -Доля должников по кредитам среди лиц в разводе, составляет 7%; 
    -Доля должников по кредитам среди овдовевших лиц, состаляет 6,6%;
    -Доля должников по кредитам среди лиц,состоящих в гражданском браке, составляет 9,3%;
    -Доля должников по кредитам среди лиц, состоящих в браке, составляет 8,1%. 

Исходя из произведенных расчетов, можно сделать вывод о том, что чаще всего кредиты берут женатые люди. Доля порядочных заемщиков больше всего у лиц, не состоящих в браке, живущих в гражданском браке, и чуть меньше у женатых. Лица состоящие в разводе или овдовевшие, реже берут кредиты и доля порядочных заемщиков ниже, чем по остальным категориям.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [63]:
#создадим сводную таблицу с общим количеством заемщиков, количеством должников и их долей, в зависимости от дохода
res=pd.pivot_table(data,index=['total_income_category'], values=['debt'], aggfunc=['count', 'sum', 'mean', 'median'])
res['median']=data.groupby('total_income_category')['total_income'].median()
res.columns=['Количество заемщиков, всего', 'Количество должников', 'Доля должников', 'Средний доход'] # для удобства чтения кода, переименуем столбцы
res['Доля должников']=res['Доля должников']*100 # умножим весь столбец на 100, что бы получить проценты
display(res)

,"Количество заемщиков, всего",Количество должников,Доля должников,Средний доход
total_income_category,,,,
A,25,2,8.000000,1223042
B,5014,354,7.060231,257558
C,15921,1353,8.498210,130355
D,349,21,6.017192,43929
E,22,2,9.090909,26431

Вывод

    -Доля должников категории А составляет 8%;
    -Доля должников категории В составляет 7%; 
    -Доля должников категории С составляет 8,5%;
    -Доля должников категории D составляет 6%;
    -Доля должников категории E составляет 9%;

Лица с самым высоким уровнем дохода (в среднем 1 223 042 руб.) возвращают кредит в срок на 1% чаще лиц, с самым низким уровнем дохода (в среднем 26 431 руб.). В соответствии с этим, можно сделать вывод, что если уровень дохода и влияет на выплату кредита в срок, то несущественно.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [65]:
#создадим сводную таблицу с общим количеством заемщиков, количеством должников и их долей, в зависимости от цели
res=pd.pivot_table(data,index=['purpose_category'], values=['debt'], aggfunc=['count', 'sum', 'mean'])
res.columns=['Количество заемщиков, всего', 'Количество должников', 'Доля должников'] # для удобства чтения кода, переименуем столбцы
res['Доля должников']=res['Доля должников']*100 # умножим весь столбец на 100, что бы получить проценты
display(res)

,"Количество заемщиков, всего",Количество должников,Доля должников
purpose_category,,,
операции с автомобилем,4279,400,9.347978
операции с недвижимостью,10751,780,7.255139
получение образования,3988,369,9.252758
проведение свадьбы,2313,183,7.911803

Вывод

    -Доля должников в категории "операции с автомобилем" составляет 9,3%;
    -Доля должников в категории "операции с недвижимостью" составляет 7,2%;
    -Доля должников в категории "получение образования" составляет 9,2%;
    -Доля должников в категории "проведение свадьбы " составляет 7,9%;
    
Чаще всего, вовремя возвращают кредиты, взятые на операции с недвижимостью. Реже всего возвращают кредиты, взятые на операции с автомобилем. Разница в этих долях составляет 2,1%
    В связи с тем, что в категории "операции с недвижимостью" самое большое количество заёмщиков, а доля должников составляет 7,2%, можно предположить, что процентная ставка по ипотеке зависит от данного показателя. Так как на данный момент она колеблется от 5 до 11%.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
Версия 1: так как, количество пропусков в колонках доход и стаж в днях совпадают, можно предположить, что пропуски находятся в одних строках. Вероятно, клиент не имеет стажа работы и официального дохода
Версия 2: в связи с тем, что пропущенные значения имеют тип float, можно предположить что произошел сбой с типом данных при открытии таблицы

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Среднее арифметическое значение-это результат деления суммы на количество. При большом отклонении или "вбросах" этот показатель может быть искажен. А медиана в свою очередь делит выборку пополам, что дает нам более верное представление об усредненном показателе.

### Шаг 4: общий вывод.

В ходе предобработки данных были внесены некоторые корректировки, а именно:
- пропущенные значения в столбцах days_employed и total_income заменены на медианные значения, что помогло произвести полноценные расчеты;<br> 
- в столбце days_employed заменены значения на противоположные. Так как отрицательное количество отработанных дней во всем столбце является явной ошибкой;<br> 
- в столбце children обнаружены аномальные показатели в виде отрицательного количества детей, а так же слишком большого количества. Возможно, у данного заёмщика действительно 20 детей, этот вопрос следует уточнить у менеджера. Но в рамках данного проекта, данные аномалии были удалены, так как их количество никак не влияет на основную выборку;<br> 
- удалены дублилующие строки, с целью избежания задвоенности показателей;<br> 
- уровень дохода разбит по категориям A, B, C, D, E для облегчения анализа;<br> 
- цели кредитования так же разбиты по категориям для облегчения анализа.<br> 

Исходя из проведенных расчетов самыми надёжными заемщиками являются семьи с пятью детьми и вдовцы. А ненадёжными заемщиками являются лица с четырьмя детьми и не состоящие в браке.
При обобщении, можно сделать вывод, что всегда есть доля клиентов, которые не возвращают кредит в срок. Процент задержки выплаты кредита колеблется от 6% до 9%.